<div class="container">
  <h2>Bem-vindo à Aplicação de APIs!</h2>
  <p>Bem-vindo à nossa aplicação de APIs! Aqui, exploramos os principais verbos HTTP utilizados em integração com APIs
    RESTful: GET, POST, PUT, PATCH e DELETE. Cada funcionalidade apresentada é uma oportunidade de aprender e interagir
    com
    as diferentes operações que podemos realizar com uma API.</p>
  <p>
    Explore os principais verbos HTTP utilizados em integração com APIs RESTful e descubra como eles
    permitem interagir com diferentes recursos de forma prática e eficiente.
  </p>

  <ul>
    <li><strong>GET:</strong> Utilizado para buscar ou consultar dados. Com o verbo GET, nossa aplicação pode exibir
      informações disponíveis sem realizar nenhuma alteração. Exemplo: obter curiosidades sobre números.</li>
    <li><strong>POST:</strong> Envia novos dados para serem criados no servidor. Ideal para adicionar novos registros ou
      recursos.</li>
    <li><strong>PUT:</strong> Faz a substituição completa de um recurso existente no servidor. Exemplo: atualizar todos
      os detalhes de um post específico.
    </li>
    <li><strong>PATCH:</strong> Atualiza parcialmente um recurso, modificando apenas os campos indicados. Exemplo:
      alterar apenas o título de um post.</li>
    <li><strong>DELETE:</strong> Remove um recurso do servidor. Exemplo: deletar um post por ID.</li>
  </ul>

  <h3>Por que entender esses verbos é essencial?</h3>

  <p> As APIs REST utilizam esses verbos para padronizar a comunicação entre cliente e servidor, tornando as interações
    previsíveis e organizadas. Dominar esses conceitos é indispensável para quem deseja se aprofundar no desenvolvimento
    web
    e criar aplicações robustas e eficientes. </p>

  <p>
    Explore nossas rotas e veja como cada operação é aplicada de maneira prática e intuitiva. Aproveite para aprimorar
    seus
    conhecimentos e experimentar nossa interface amigável!
  </p>
</div>
